
.deleteLine {
    margin-left: 42;
}
.optionLabel {
    padding-top: 20;
    font-style: italic;
    width: 110px;
    text-align: right;
}
.delete_button{
    padding-top: 15;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
